body {
font-family: 'Segoe UI', Tahoma, Geneva, V
erdana, sans-serif;
}
.header {
/* border-width: 1px;
border-style: solid;
border-color: black; */
/* border: 1px solid black; */
text-align: center;
}
.avatar {
width: 300px;
height: 300px;
}
.header__title {
font-size: 25px;
}
.header__subtitle {
color: rgba(90, 138, 206, 0.867);
}
main {
border: 1px solid black;
text-align: center;
}
.skills ul {
list-style: none;
}
.gallery-img {
width: 250px;
}
.separator {
width: 50%;
height: 3px;
background-color: brown;
}
.my-video {
width: 800px;
height: 490px;
border: none;
}
.education {
background-color: rgb(204, 231, 244);
}
.education__table {
border: 1px solid black;
border-collapse: collapse;
width: 100%;
}
.education__table th,
.education__table td
{
border: 1px solid black;
}
.quote {
font-size: 35px;
}
footer {
height: 100px;
text-align: center;
background-color: rgb(51, 51, 51);
}
footer a {
color: white;
}
